<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Generar Orden</title>
    <style>
        .custom-bg {
        background-color: #8B0000 !important;
        border-color: #8B0000 !important;
        }
        input[readonly] {
        background-color: #f4f4f4; /* Cambia el color de fondo */
        color: #888; /* Cambia el color del texto */
        border: 1px solid #ddd; /* Cambia el borde si es necesario */
        }


    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
    function toggleAnalisisDropdown() {
        $("#analisisDropdown").toggle();
    }
    $(document).ready(function() {
        // Capturar el evento de cambio en el campo de análisis
        $('#exampleDataList').change(function() {
            // Obtener el valor seleccionado del análisis
            var selectedAnalysis = $(this).val();

            // Buscar el análisis en la lista de estudios
            {% for estudio in estudios %}
                if ("{{ estudio[1] }}" === selectedAnalysis) {
                    // Actualizar el campo de monto con el valor correspondiente
                    $('#monto').val("{{ estudio[2] }}");
                }
            {% endfor %}
        });
    });



    </script>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Datos de la Orden de Análisis</h2>
    <form method="POST" action="{{ url_for('guardar_orden') }}">
        <div class="form-group">
            <input type="hidden" name="idCliente" value="{{cliente[0]}}">
        </div>

        <div class="form-group row">
            <label for="nombre" class="col-sm-3 col-form-label">Nombre:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="nombre" value="{{cliente[1]}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="apellido_paterno" class="col-sm-3 col-form-label">Apellido Paterno:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="apellido_paterno" value="{{cliente[2]}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="apellido_materno" class="col-sm-3 col-form-label">Apellido Materno:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="apellido_materno" value="{{cliente[3]}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="telefono" class="col-sm-3 col-form-label">Número de Teléfono:</label>
            <div class="col-sm-9">
                <input type="tel" class="form-control" id="telefono" value="{{cliente[5]}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="correo" class="col-sm-3 col-form-label">Correo:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="correo" value="{{cliente[6]}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fecha de Nacimiento:</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" value="{{cliente[4]}}" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Análisis:</label>
            <div class="col-sm-9">
                <input class="form-control" list="datalistOptions" id="exampleDataList" name="nombreEstudio"
                       placeholder="Escriba el tipo de análisis" required>
                <datalist id="datalistOptions">
                    {% for estudio in estudios %}
                    <option value="{{ estudio[1] }}">
                        {% endfor %}
                </datalist>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Monto:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="monto" name="monto" disabled>
            </div>
        </div>

        <div id="facturaOptions" style="display: none;">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Razón de Factura:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="razonFactura" required>
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Factura</label>
            <div class="col-sm-9">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary" onclick="showFacturaOptions()">Sí</button>
                    <button type="button" class="btn btn-secondary" onclick="hideFacturaOptions()">No</button>
                    <input type="hidden" name="factura" id="facturaInput" value="0">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <button type="submit" class="btn btn-danger custom-bg btn-block">Generar Orden</button>
            </div>
            <div class="col-6">
                <a href="{{ url_for('ver_clientes_orden') }}" class="btn btn-secondary btn-block">Volver</a>
            </div>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} mt-3" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endwith %}
</div>

<script>
function showFacturaOptions() {
    document.getElementById('facturaInput').value = '1';
    document.getElementById('facturaOptions').style.display = 'block';
    }
function hideFacturaOptions() {
        document.getElementById('facturaInput').value = '0';
        document.getElementById('facturaOptions').style.display = 'none';
        }
</script>
{% endblock %}
</body>
</html>
